SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=nick.esselman@gmail.com
SMTP_PASSWORD=

EMAIL_FROM=Nick Contact <nick.esselman@gmail.com>
EMAIL_TO=info@nickesselman.nl
BODY_SIZE_LIMIT=12M
